<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        <form action="/create" method="post">
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="Enter ur locality" name="locality" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="enter ur name" name="name" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="enter ur email" name="email" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="commmon area pics" name="common" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="available room pics" name="rooms" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="enter fees" name="fees" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="enter ur contact no." name="contact" required>
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="other details" name="other">
            <input type="text" class="px-5 py-3 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" placeholder="password" name="password" required>

            <input type="submit" class="px-5 py-2 bg-blue-500 rounded-lg ml-3" value="Create user">
        </form>
    </div>
</body>
</html>