<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Options</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="login_pg flex flex-col items-center min-h-screen ">
    <div class="flex flex-col justify-center items-center w-full">
        <img src="https://content.jdmagicbox.com/comp/ahmedabad/c1/079pxx79.xx79.180202122040.q7c1/catalogue/golden-homes-pg-accommodation-ahmedabad-cii9cpyl5n.jpg" 
             alt="Homez Delight" 
             class="w-20 h-20 rounded-full object-cover border-2 border-gray-300 mt-2">
        <h1 class="text-5xl font-bold hover:text-gray-600 font-serif p-5 tracking-tighter text-center border-b-2 border-white w-full"> 
            HOMEZ DELIGHT
        </h1>
    </div>
    <h1 class="mb-4 uppercase text-4xl font-serif mt-5">Hey! Your Perfect Stay Awaits!</h1>
    <p class="mb-10 text-2xl color-zinc-500">Find the most affordable and comfortable PG here!</p>

    <p class="text-gray-600 mb-5">Choose your login option:</p>
    

    <div class="flex flex-col items-center space-y-4 justify-center">
        <a href="/read" class="block w-64 text-center bg-blue-500 text-white font-semibold py-3 rounded-lg hover:bg-blue-600">
            Login as User
        </a>
        <a href="/create" class="block w-64 text-center bg-green-500 text-white font-semibold py-3 rounded-lg hover:bg-green-600">
            Login as Owner
        </a>
    </div>

    <button class="mt-10 bg-zinc-900 text-white font-semibold py-2 px-4 rounded-xl hover:bg-zinc-300 transition duration-300 ease-in-out">        
    <a href="/about" class="mt-6 text-gray-600 hover:text-gray-500 ">About Us</a>
    </button>
</body>
</html>